.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    width: 300px;
    border: 3px solid beige;
    border-radius: 10px;
    background-color: rgb(150, 127, 243);
    margin-bottom: 10px;
    box-shadow: 3px 5px 8px #000;
    color: black;
  }
  
.cardImg{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

